.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskForm {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.6rem;
}

.taskForm > input[type="text"] {
  width: 39.875rem;
  height: 3.375rem;
  background: var(--gray-500);
  color: var(--white);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 0 16px;
}
.taskForm > input[type="text"]::placeholder {
  color: var(--gray-300);
  line-height: 1.4;
}
.formWrapper .taskForm > button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  padding: 1rem;
  gap: 8px;
  background: var(--blue-dark);
  border-radius: 8px;
  color: var(--white);
  font-weight: 700;
  transition: background 0.2s;
  cursor: pointer;
}
.formWrapper .taskForm > button[type="submit"]:hover {
  background: var(--blue);
}
